<h1> Create a new item </h1>
<% if @item.errors %>
    <ul><% @item.errors.full_messages.each do |error| %>
        <li style="color:red"><%= error %></li>
    <% end %></ul>
<% end %>

<%= render 'form' %>